name: Build and release a Kubewarden policy written in Rego

on:
  workflow_call:
    inputs:
      oci-target:
        type: string
        required: true
      artifacthub:
        description: 'check artifacthub-pkg.yml for submission to ArtifactHub'
        required: false
        type: boolean
        default: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependenciesv3.0.1
      -
        uses: actions/checkout@v3
        with:
          # until https://github.com/actions/checkout/pull/579 is released
          fetch-depth: 0
      -
        id: calculate-version
        if: ${{ inputs.artifacthub }}
        # obtain latest tag. Here it must be the current release tag
        run: echo "version=$(git describe --tags --abbrev=0 | cut -c2-)" >> $GITHUB_OUTPUT
        shell: bash
      -
        name: Check that artifacthub-pkg.yml is up-to-date
        if: ${{ inputs.artifacthub }}
        uses: kubewarden/github-actions/check-artifacthubv3.0.1
        with:
          version: ${{ steps.calculate-version.outputs.version }}
      -
        name: Install opa
        uses: kubewarden/github-actions/opa-installerv3.0.1
      -
        uses: actions/checkout@v3
      -
        name: Build policy
        run: |
          make policy.wasm
      -
        name: Annotate policy
        run: |
          make annotated-policy.wasm
      -
        name: Run e2e tests
        run: |
          make e2e-tests
      -
        name: Release
        uses: kubewarden/github-actions/policy-releasev3.0.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          oci-target: ${{ inputs.oci-target }}
