name: Tests and linters

on:
  workflow_call:
    inputs:
      artifacthub:
        description: 'check artifacthub-pkg.yml for submission to ArtifactHub'
        required: false
        type: boolean
        default: true
    secrets: {}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 14
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'
      -
        name: Install npm
        run: npm install
      -
        name: Run unit-tests
        run: |
          make test
  check-artifacthub:
    if: ${{ inputs.artifacthub }}
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v4
        with:
          # until https://github.com/actions/checkout/pull/579 is released
          fetch-depth: 0
      -
        name: Install kwctl
        uses: kubewarden/github-actions/kwctl-installer@v3.1.10
      -
        id: calculate-version
        run: echo "version=$(git describe --tags --abbrev=0 | cut -c2-)" >> $GITHUB_OUTPUT
        shell: bash
      -
        name: Check that artifacthub-pkg.yml is up-to-date
        uses: kubewarden/github-actions/check-artifacthub@v3.1.10
        with:
          version: ${{ steps.calculate-version.outputs.version }}
          check_version: false # must match a git tag that hasn't been created yet, so let's ignore until then
