name: Tests and linters

on:
  workflow_call:
    inputs:
      policy-working-dir:
        description: "working directory of the policy. Useful for repos with policies in folders"
        required: false
        type: string
        default: .
    secrets: {}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install opa
        uses: kubewarden/github-actions/opa-installer@v4.1.0
      - name: Run unit tests
        working-directory: ${{ inputs.policy-working-dir }}
        run: make test
